:root{
    /* font */
    --font-family:"Open Sans", sans-serif;
    --font-regular: 400;
    --font-semibold: 700;

    /* / site colors / */
    --tirkizna: #1D7EA8;
    --site-colors: #000000;
    --site-colors-2: #666666;
    --site-colors-3: #F1F1F1;

    /* / dark theme colors / */
    --dark-theme-color-1: #121212;
    --dark-theme-color-2: #1E1E1E;
    --dark-theme-color-3: #232323;
    --dark-theme-color-4: #252525;
    --dark-theme-color-5: #272727;
    --dark-theme-color-6: #2C2C2C;
    --dark-theme-color-7: #2E2E2E;
    --dark-theme-color-8: #333333;
    --dark-theme-color-9: #363636;
    --dark-theme-color-10: #383838;

    /* / neutral colors / */
    --neutral-color-1: #13233C;
    --neutral-color-2: #414D63;
    --neutral-color-3: #6F7889;
    --neutral-color-4: #9BA3AE;
    --neutral-color-5: #C7CED6;
    --neutral-color-6: #FAFAFA;
    --neutral-color-7: #9DA4AE;
    --neutral-color-8: #707988;
    --neutral-color-9: #424F62;

    /* / color palete 1 / */
    --color-p1-1: #734B5E;
    --color-p1-2: #BCBDC0;
    --color-p1-3: #565857;
    --color-p1-4: #8A8D91;
    --color-p1-5: #F5D3C8;

    /* / color palete 2 / */
    --color-p2-1: #1C2321;
    --color-p2-2: #7D98A1;
    --color-p2-3: #5E6572;
    --color-p2-4: #A9B4C2;
    --color-p2-5: #EEF1EF;

    /* / color palete 3 / */
    --color-p3-1: #201E1F;
    --color-p3-2: #FF4000;
    --color-p3-3: #FAAA8D;
    --color-p3-4: #FEEFDD;
    --color-p3-5: #50B2C0;

    /* / color palete 4 / */
    --color-p4-1: #000000;
    --color-p4-2: #FFFFFC;
    --color-p4-3: #BEB7A4;
    --color-p4-4: #FF7F11;
    --color-p4-5: #FF3F00;

    /* / color palete 5 / */
    --color-p5-1: #1C2321;
    --color-p5-2: #7D98A1;
    --color-p5-3: #A9B4C2;
    --color-p5-4: #FF4000;
    --color-p5-5: #50B2C0;

    /* / font-size */
    --h1: 2.986rem;
    --h2: 2.488rem;
    --h3: 2.074rem;
    --p: 1rem;
    --button: 0.833rem;

    /* Left & Right Main Margin */
    --margin-left-right: 100px 134.5px;

    /* Radius */
    --radius: 5px;

    /* Media Query headings font size*/
    --p-mobile: 14px;

    /* Media Query Left & Right Main Margin */
    --margin-left-right-mobile: 50px 10px;

}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background: #F0F0F0;
}

* {
    box-sizing: inherit;
}

p {
    font-size: 16px;
}

header {
    background: #F1F1F1;
    padding: 20px 0;
}

.logo-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-phone-location {
    display: flex;
    gap: 30px;
    margin-left: 400px;
}

.phone-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.elipse-phone {
    width: 35px;
    height: 35px;
    background: #1C1C1C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-phone {
    background: url("/header-footer/assets/phone.png") no-repeat center/cover;
    width: 25px;
    height: 25px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.elipse-location {
    width: 35px;
    height: 35px;
    background: #1C1C1C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-location {
    background: url("/header-footer/assets/location.png") no-repeat center/cover;
    width: 25px;
    height: 25px;
}

.language {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-flag {
    background: url("/header-footer/assets/macedonia.png") no-repeat center/cover;
    width: 32px;
    height: 32px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    position: relative;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-first-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-first-ul li a {
    padding: 15px 30px;
    display: inline-block;
}

.nav-first-ul li a:hover {
    background: #1D7EA8;
}

.nav-dropdown-ul {
    display: none;
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    background: var(--site-colors-3);
}

.nav-dropdown-ul li a {
    color: #1C1C1C;
}

.nav-dropdown-ul li:hover {
    background: #1C1C1C;
}

.nav-dropdown-ul li:hover a {
    color: #FFFFFF;
}

.nav-first-ul .active:hover .nav-dropdown-ul {
    display: block;
}

.nav-dropdown-ul li a {
    transition: none;
    background: none;
}

.nav-dropdown-ul li a:hover {
    background: none;
}

.burger-btn {
    background: var(--site-colors);
    color: var(--site-colors-3);
    border: none;
    font-size: 25px;
    display: none;
    margin-right: 20px;
}

.close-btn {
    background: var(--site-colors);
    color: var(--site-colors-3);
    display: none;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.close-dropdown {
    background: var(--site-colors);
    color: var(--site-colors-3);
    display: none;
}

.images{
    overflow: hidden;
    /* padding: 60px 0; /  / adds padding to the white box behind them add it if you want :))))*/
    white-space: nowrap;
    background: #fff;
}

.images-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
}

.images-slide img{
    height: 200px;
    width: 200px;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--site-colors-3);
    padding: 30px 0;
}

footer p {
    margin: 10px 0;
}

footer a {
    margin-bottom: 11px;
    text-decoration: none;
    color: black;
}

footer h5 {
    font-size: 23.04px;
}

.mrg {
    margin-bottom: 15px;
}

footer a:hover {
    color: var(--tirkizna);
}

footer img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-mail {
    background: url("/header-footer/assets/email.png") no-repeat center/cover;
    width: 25px;
    height: 25px;
}

.inzinering {
    display: flex;
    flex-direction: column;
}

.proizvodi {
    display: flex;
    flex-direction: column;
}

.align {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copy-right {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 10px 0;
}

@media screen and (max-width:900px) {
    .burger-btn {
        display: inline-block;
    }

    nav {
        justify-content: flex-end;
        padding: 10px 0;
    }

    .nav-dropdown-ul {
        position: static;
        background: none;
        padding-left: 15px;
    }

    .active:checked .nav-dropdown-ul{
        display: block;
    }

    .nav-dropdown-ul li a {
        color: var(--site-colors-3);
    }

    .nav-first-ul li a:hover {
        background: none;
    }

    .nav-dropdown-ul li:hover a{
        color: none;
    }

    .nav-dropdown-ul li:hover {
        background: none;
    }

    .nav-first-ul {
        display: none;
    }
}


@media screen and (max-width:767px) {

    p {
        font-size: var(--p-mobile);
    }

    h2 {      
        margin: 0 205px 0 0;
    }

    .left-line {
        margin-top: 150px;
    }

    .nav-first-ul {
        flex-wrap: wrap;
    }

    .container-phone-location {
        display: none;
    }

    .location {
        display: none;
    }

    main {
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-bearings {
        align-items: center;
        justify-content: center;
    }

    .offer {
        width: 450px;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 190px;
        gap: 30px;
    }
}